*{
    margin: 0;
    box-sizing: border-box;
}

div{
    width: 80%;
    margin: auto;
    text-align: center;
}

header{
    background-color: #1a4d2e;
}

header h1{
    /*padding: 10px;*/
    color: #F5EFE6;
}

header p{
    /*padding: 10px;*/
    color: #F5EFE6;
}

nav{
    background-color: #4f6f52;
    padding: 5px;
}

nav ul{
    padding-left: 0;
}

nav li{
    display: inline;
    margin: 10px;
    padding: 70px;
    text-align: center;
}

main{
    background-color: #e8dfca;
    height: 100vh;
}

main h4{
    padding: 5px;
    text-align: left;
}

main p{
    padding: 5px;
    text-align: left;
}

main ul{
    margin: 10px;
    padding: 5px;
}

main li{
    /*padding-left: 10px;*/
    text-align: left;
}

footer{
    background-color: #1a4d2e;
}