* {
    margin:auto;
    box-sizing: border-box;
    /*border: solid black 1px;*/
}

header {
    margin: auto;
    padding: 5% 0;
    color: white;
    background-color: #102c57;
}

footer {
    background-color: #ffcbcb
}

#page-wrapper {
    /*width: 80vw;*/
    margin: auto;
    text-align: center;
}

main {
    margin: auto;
    padding: 3%;
    background-color: #ffb1b1;
    height: 320vh;
    font-size: calc(2px + 1.5vw);
}

img {
    max-width: 80%;
}

nav {
    padding: 5% 2%;
    margin: 0;
    background-color: #1679ab;
    width: 30%;
}


nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    align-items: center;
}

nav a {
    font-size: calc(2px + 1.5vw);

}

nav li {
    padding: 4%;
    border: #ffcbcb 3px solid;
    margin: 5% 3%;
    width: 80%;
    font-size: calc(2px + 1.5vw)
}

main p {
    color: black;
}

#container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

main {
    width: 70%
}

@media screen and (max-width: 750px) {
    #container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav {
        width: 100%;
    }

    main {
        width: 100%;
    }

    nav ul {
        flex-direction: row;
    }

    nav li {
        padding: 1%;
    }
}