*{
    margin: 0;
    box-sizing: border-box;
}

div{
    width: 80%;
    margin: auto;
    text-align: center;
}

header{
    background-color: #99BC85;
}

header h1{
    color: #E1F0DA;
}

header p{
    color: #E1F0DA;
}

nav{
    background-color: #BFD8AF;
    padding: 5px;
}

nav ul{
    padding-left: 0;
}

nav li{
    display: inline;
    margin: 10px;
    padding: 70px;
    text-align: center;
}

main{
    background-color: #D4E7C5;
    height: 100vh;
}

main h4{
    padding: 5px;
    text-align: left;
}

main p{
    padding: 5px;
    text-align: left;
}

main ul{
    margin: 10px;
    padding: 5px;
}

main li{
    /*padding-left: 10px;*/
    text-align: left;
}

footer{
    background-color: #99BC85;
}